
<div class="container">
    <br><br>
    <div class="jumbotron">
      <h1>Hello, manager!</h1>
      <p>This is a property management app built with <a href="https://angularjs.org/" target="_blank">angular</a>&<a href="https://www.mongodb.org/" target="_blank">MongoDB</a> by <a href="http://amazingandyyy.github.io/" target="_blank">Amazingandyyy</a></p>
      <p><a class="btn btn-primary btn-lg" ui-sref="clients" role="button"><i class="glyphicon glyphicon-user" aria-hidden="true"></i> go to clients list</a></p>
      <p><a class="btn btn-success btn-lg" ui-sref="properties" role="button"><i class="glyphicon glyphicon-equalizer" aria-hidden="true"></i> go to property list</a></p>
    </div>
</div>
