<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2" ng-if="!edditedProperty">
            <h4><i class="glyphicon glyphicon-filter" aria-hidden="true"></i> Filter</h4>
            <form ng-submit="priceFilter()">
                <h5 for="exampleInputEmail3">Rent Price range</h5>
                <div class="form-group input-group-xs">
                    <input type="number" class="form-control" placeholder="min" ng-model="rPriceFilter.min">
                </div>
                <div class="form-group input-group-xs">
                    <input type="number" class="form-control" placeholder="max" ng-model="rPriceFilter.max">
                </div>
                <h5 for="exampleInputEmail3">Utilities Cost range</h5>
                <div class="form-group input-group-xs">
                    <input type="number" class="form-control" placeholder="min" ng-model="uCostFilter.min">
                </div>
                <div class="form-group input-group-xs">
                    <input type="number" class="form-control" placeholder="max" ng-model="uCostFilter.max">
                </div>
                <button class="btn-xs btn btn-success btn-block">update filter</button>
                <div class="btn-xs btn btn-default btn-block" ng-click="showAvailable()">Only Show Available</div>
                <div class="btn-xs btn btn-default btn-block" ng-click="showAll()">Show me all</div>
            </form>
            <hr>
            <h4><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Add property</h4>
            <form ng-submit="addnewOne(newOne)">
                <div class="form-group input-group-xs">
                    <label for="exampleInputEmail1">Item name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="name" ng-model="newOne.name" required>
                </div>
                <div class="form-group input-group-xs">
                    <label for="exampleInputPassword1">address</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="address" ng-model="newOne.address">
                </div>
                <!-- <div class="form-group input-group-xs">
                    <label for="sel1">Occupation status:</label>
                    <select class="form-control" id="sel1" required ng-model="newOne.oStatus">
                        <option value="available">available</option>
                        <option value="occupied">occupied</option>
                    </select>
                </div> -->
                <div class="form-group input-group-xs">
                    <label for="exampleInputPassword1">Rent Price</label>
                    <input type="phone" class="form-control" id="exampleInputPassword1" placeholder="Rent Price" ng-model="newOne.rPrice" required>
                </div>
                <div class="form-group input-group-xs">
                    <label for="exampleInputPassword1">Utility Cost</label>
                    <input type="phone" class="form-control" id="exampleInputPassword1" placeholder="Utility Cost" ng-model="newOne.uCost" required>
                </div>
                <button type="submit" class="btn-xs btn btn-success btn-block">Add</button>
            </form>
            <hr>

        </div>
        <div class="col-xs-6 col-sm-3 col-md-2" ng-if="edditedProperty">
            <h4><i class="fa fa-plus-square-o" aria-hidden="true"></i> Edit {{edditedProperty.name}}</h4>
            <form ng-submit="edittedOne(edditedProperty.index, edditedProperty._id)">
                <div class="form-group input-group-xs">
                    <label for="exampleInputEmail1">Item name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="name" ng-model="edditedProperty.name" required>
                </div>
                <div class="form-group input-group-xs">
                    <label for="exampleInputPassword1">address</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="address" ng-model="edditedProperty.address">
                </div>
                <!-- <div class="form-group input-group-xs">
                    <label for="sel1">Occupation status:</label>
                    <select class="form-control" id="sel1" required ng-model="edditedProperty.oStatus">
                        <option value="available">available</option>
                        <option value="occupied">occupied</option>
                    </select>
                </div> -->
                <div class="form-group input-group-xs">
                    <label for="exampleInputPassword1">Rent Price</label>
                    <input type="phone" class="form-control" id="exampleInputPassword1" placeholder="Rent Price" ng-model="edditedProperty.rPrice" required>
                </div>
                <div class="form-group input-group-xs">
                    <label for="exampleInputPassword1">Utility Cost</label>
                    <input type="phone" class="form-control" id="exampleInputPassword1" placeholder="Utility Cost" ng-model="edditedProperty.uCost" required>
                </div>
                <button type="submit" class="btn-xs btn btn-success btn-block">Update</button>
                <div class="btn-xs btn btn-danger btn-block" ng-click="deleteOne(edditedProperty.index, edditedProperty._id)">Delete</div>
                <div class="btn-xs btn btn-default btn-block" ng-click="cancelClicked()">Cancel</div>
            </form>
        </div>

        <div class="col-xs-12 col-sm-9 col-md-10">
            <br>
            <!-- <h4>{{showTotalNum()}} results found</h4> -->
            <h4>{{(properties | filter: searchFilterByStatus | filter: searchFilter).length}} properties found</h4>
            <!-- <h4>{{filteredProperties.length}} resultsss found</h4> -->
            <!-- <p>Total rent Price: {{showTotalrPrice() | currency: $}}</p> -->
            <!-- <p>Average rent Price: <b>{{showTotalrPrice() / (properties | filter: searchFilterByStatus).length | currency: $}}</b></p> -->
            <!-- <p>{{ (properties | filter: searchFilterByStatus | filter: searchFilter) }}</p> -->
            <!-- <p>Average utilities Cost: <b>{{showTotaluCost() / (properties | filter: searchFilterByStatus).length | currency: $}}</b></p> -->
            <input type="text" class="form-control" placeholder="search" ng-model="searchFilter">
            <br>
            <!-- <input type="text" class="rPriceSlider" ng-model="rPriceSlider" data-slider-min="0" data-slider-max="5000" data-slider-step="1" data-slider-value="-14" data-slider-orientation="vertical" data-slider-selection="after" data-slider-tooltip="hide" data-slider-orientation="horizontal"> -->
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-condensed table-condensed table-condensed table-condensed">
                    <thead>
                        <tr>
                            <th ng-click="sortBy('name')" style="cursor: pointer;">Property name</th>
                            <th ng-click="sortBy('oStatus')" style="cursor: pointer;">Occupation status</th>
                            <th ng-click="sortBy('address')" style="cursor: pointer;">Address</th>
                            <th ng-click="sortBy('rPrice')" style="cursor: pointer;">Rent Price</th>
                            <th ng-click="sortBy('uCost')" style="cursor: pointer;">Utilities Cost</th>
                        </tr>
                    </thead>
                    <tbody ng-if="properties.length>0">
                        <tr ng-repeat="property in properties | orderBy:order | filter:searchFilter | filter:searchFilterByStatus track by $index" style="cursor: pointer">
                            <td>{{property.name}}</td>
                            <td>{{property.oStatus}}</td>
                            <td>{{property.address}}</td>
                            <td>{{property.rPrice | currency: $}}</td>
                            <td>{{property.uCost | currency: $}}</td>
                            <td>
                                <button type="button" class="btn-xs btn btn-default btn-xs" ng-click="editOne(properties.indexOf(property), property._id)">Edit</button>
                                <button type="button" class="btn-xs btn btn-success btn-xs" ui-sref="getPropertyById({propertyId: property._id})" ng-click="getPropertyById(property._id)" >Check details</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
