.navbar {
    border-radius: 0px;
}
.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5; //If Placeholder of the input is moved up, rem/modify this.
    border-radius: 3px;
}
.input-group-xs>.form-control, .input-group-xs>.input-group-addon, .input-group-xs>.input-group-btn>.btn {
    height: 25px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: -7px;
    margin-top: -3px;
}
.btn {
    margin-left: 3px;
    margin-top: 3px;
    transition: .2s all ease-in-out;
}
.btn:hover {
    transform: scale(1.02);
}
